# Dependências
node_modules/
package-lock.json

# Ambiente
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Cobertura de testes
coverage/

# Arquivos temporários
.DS_Store
.tmp/
.temp/

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/

# Cache
.npm/
.eslintcache 